body {

  line-height: 1.7;
  background: #eee;
}

ul,
li {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

}

.container {
  max-width: 1700px;
  margin: 0 auto;
}



.loader {
  display: none;
  margin: 20px auto;
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.breed-select {
  width: 50%;

  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  color: darkblue;
  position: relative;
  left: 25%;
}

.cat-info {
  max-width: 1700px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.cat-picture img {
  width: auto;
  height: 500px;
  display: block;

}

.cat-list {
  list-style: none;
}


.cat-descr {
  display: flex;
  flex-direction: column;
  width: 1070px;

}

.name {
  font-size: 22px;
}

.description {
  font-size: 18px;
}

.features {
  font-size: 20px;
}